<!DOCTYPE html>
<html>
    <head>
        <title>About</title>

        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/image/weather.png"> 
    </head>

    <body> 
        <div class="main-content"> 
            {{>header}}
            
            <img class="mepic" src="/image/me.jpg" alt="Sumit picture">
        </div>

        {{>footer}}
    </body>
</html>