<!DOCTYPE html>
<html>
    <head>
        <title>Help </title>
        
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/image/weather.png">
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{helpText}}</p>  

            <p id="githubid"><a href="https://github.com/sumiie24" target="_blank"><u>Sumit Yadav</u> (GitHub) </a></p>
            <p>Mobile No. - +91 8719986110</p> 
            <p>Email ID. - ysumit2409@gmail.com</p>   
        
        </div>
        {{>footer}}
    </body>
</html>